<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Comments
    </title>
</head>
<h1>Add Comments Here </h1>
<h1>
    <%=comment%>
</h1>
<form action="/comments/<%=id%>?_method=PATCH" method="post">
    <section>
        <label for="comment">Comment</label>
        <br>
        <textarea type="" id="comment" name="comment">
        </textarea>
    </section>

    <button>Submit</button>
    <br>
    <a href="/comments">Go back to the main page</a>
</form>

<body>
</body>

</html>