<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Comments
    </title>
</head>

<body>
    <h1>Comment</h1>
    <h2>
        <%= username %>
    </h2>
    <h3>
        <%= comment %>
    </h3>
    <a href="/comments">Go Back to Main Page</a>
    <br>
    <a href="/comments/edit/<%=id%>">Edit this comment</a>
    <br>
    <form action="/comments/<%=id%>?_method=Delete" method="POST">
        <button>Delete this item</button>
    </form>

</body>

</html>